*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul, li{
  list-style: none;
}
body {
  font-size: 14px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.app-wrap{
  margin: 20px;
}
h1, h3, p{
  margin-bottom: 20px;
}
h1{
  text-align: center;
}
h4{
  margin-bottom: 10px;
}
.listings{
  display: flex;
  flex-wrap: wrap;
}
.listings li{
  width: 30%;
  margin: 0 20px 20px 0;
  min-height: 50px;
}
.listings a{
  text-decoration: none;
  color: black;
  background-color: beige;
  border-radius: 5px;
  min-height: 100%;
  padding: 10px;
  display: block;
  width: 100%;
}
.listings a:hover{
  background-color: bisque;
}
button{
  margin: 0 5px 20px 0;

}
.comments{
  padding-left: 30px;
}
.comments li{
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}
.search-wrap{
  text-align: center;
}